body {
	background-image: url('../img/henry.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	filter: alpha(Opacity=50);
}
h1 {
	font-family: Helvetica;
	font-size: 72px;
	color: #ffffff;
	left: 0;
    line-height: 72px;
    margin: auto;
    /*margin-top: -100px;*/
    position: absolute;
    top: 45%;
    width: 100%;
    padding: 0;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
   
}

a {
	text-decoration: none;
	color: #ffffff;
}

h1:hover {

  	transition: all .3s ease-in-out;
	transform: scale(1.1);
	
}

ul {
    list-style-type: none;
    position: absolute;
    padding: 0;
    margin:30px;
    top:0px;
    right:0px;

  
}    
li {
	float: right;
	padding: 0px;
	margin-left: 30px;
	margin-top: 0px;

}
li:hover {
	opacity: 0.3;
	transition: all .3s ease-in-out;
	transform: scale(1.2);
}

input {
	color: black;
}    

.shirt {
	width: 5%;
	height: 5%;
	margin-top: 8px;
	margin-left: 8px;


	-webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;

    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}
.shirt:hover{
    -webkit-transform: rotate(180deg);
    -moz-transform:    rotate(180deg);
    -ms-transform:     rotate(180deg);
    -o-transform:      rotate(180deg);
    transform :        rotate(180deg);
}


footer {
	font-family: Helvetica;
	font-size: 16px;
	color: #ffffff;
	left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 90%;
    width: 100%;
    text-align: center;
}
